* {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica;
}
body {
    margin: 0;
}
p, h1, h2, h3, h4, h5, h6, a {
    text-align: center;
    margin: 0;
    cursor: default;
}
.headline {
    font-size: 56px;
    font-weight: 600;
    color: #1d1d1f;
}
.subhead {
    font-size: 28px;
    font-weight: 400;
    padding-top: 6px;
    color: #1d1d1f;
}
.note {
    font-size: 17px;
    font-weight: 400;
    padding-top: 14px;
    color: #86868b;
}
.link {
    font-size: 21px;
    font-weight: 300;
    color: #06c;
    text-decoration: none;
    cursor: pointer;
}
.link:hover {
    text-decoration: underline;
}
.link-box {
    margin: auto;
    text-align: center;
    margin-top: 12px;
}
.section {
    padding-top: 47px;
    background-color: #fbfbfb;
}

/* section half  */
.section_half_group {
    margin: 6px;
}

.section_half {
    float: left;
    width: calc(50% - 12px);
    margin: 6px;
    padding-top: 30px;
}
.section_half:nth-child(odd)::after {
    clear: both;
}
.section_half::after {
    clear: both;
}
.section_half .headline {
    font-size: 40px;
}
.section_half .subhead {
    font-size: 21px;
}
.section_half .link {
    font-size: 17px;
}
.section_half .link::after {
    content: "";
}

/* sevir */
.sevir {
    background-image: linear-gradient(to top, #ececec, white);
}
/* counter  */

.counter {
    background-color: #000;
}
.counter .headline, .counter .subhead {
    color:  #fbfbfb;
}
.counter .link {
    color: rgb(41, 151, 255);
}

/* images */
.user_images {
    display: block;
    margin: auto;
    width: 670px;
}

.image_user {
    display: inline-block;
    width: 200px;
    margin: 30px 10px;
}

.image_phone {
    display: block;
    width: 55%;
    margin: 30px auto 0px auto;
}

/* footer */

.footer {
    float: left;
    width: 100%;
    background-color: rgb(245, 245, 247);
    margin-top: 6px;
    cursor: default;
}
.footer_content {
    margin: auto;
    max-width: 980px;
    min-height: 50px;
    padding: 22px;
    color: rgb(134, 134, 139);
    font-size: 12px;
}


/* RWD  */

@media only screen and (max-width: 700px) {
    .headline {
        font-size: 42px;
    }
    .subhead {
        font-size: 26px;
    }
    .user_images {
        display: block;
        margin: auto;
        width: 520px;
    }
    .image_user {
        display: inline-block;
        width: 150px;
    }
    .section_half {
      width: calc(100% - 12px);
    }
    .footer_content, .footer_content .link {
        font-size: 10px!important;
    }
  }